<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="sidebar">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
				<div>
					<i class='fab fa-gg' style='font-size:48px;color:white'></i>
				</div>
				<div class="sidebar-brand-text mx-3">UTE JOB</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="fw-bold nav-link fw-bold" style="text-align: center">Bảng điều khiển</a>
			</li>
			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{~/company/update}" aria-expanded="true">
					<i class="fa-solid fa-user"></i>
					<span>Thông tin công ty</span>
				</a>
			</li>


			<!-- Divider -->
			<hr class="sidebar-divider">

			<li class="nav-item">
				<a class="nav-link collapsed" th:href="@{~/company/listjob}" aria-expanded="true">
					<i class="fa-solid fa-list"></i>
					<span>Danh sách việc làm</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>
			<li class="nav-item">
				<a sec:authorize="isAuthenticated()" th:href="@{~/logout}" class="nav-item nav-link bg-secondary text-light" 
				style="
					text-align: center;
					line-height: 76.8px;
					position: fixed;
					bottom: 0;
					margin-bottom: 0;
					padding: 0;
				">
				Đăng xuất</a>
			</li>
		</ul>
	</div>
</body>

</html>