<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{company/layout-company-manager.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Internship</title>
	<script th:inline="javascript">
		function showConfirm() {
			var confirmation = confirm("Bạn có muốn thực hiện hành động này không?");
			return confirmation;
		}
		function validateForm() {
			var formInputs = document.querySelectorAll('input, select, textarea');
			var isValid = true;

			formInputs.forEach(function (input) {
				if (input.required && !input.value.trim()) {
					input.classList.add('is-invalid'); // Thêm class để hiển thị border đỏ hoặc thông báo lỗi
					isValid = false;
				} else {
					input.classList.remove('is-invalid');
				}
			});

			if (!isValid) {
				alert('Vui lòng điền đầy đủ thông tin');
			}

			return isValid; // Ngăn form submit nếu có lỗi
		}
	</script>
</head>

<body>
	<section layout:fragment="content">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<form th:action="@{/company/internship/saveOrUpdate}" method="POST" th:object="${internship}">
						<h1
							th:text="${internship.isEdit ? 'Chỉnh sửa thông tin tuyển dụng' : 'Thêm mới thông tin tuyển dụng'}">
						</h1>
						<div class="form-group d-none">
							<label for="internship_id">id :</label> <input readonly type="text" class="form-control"
								id="internship_id" name="internship_id" th:field="*{internship_id}">
						</div>
						<div class="form-group">
							<label for="title">Tiêu đề :</label> <input type="text" class="form-control" id="title"
								name="title" th:field="*{title}" required>
						</div>
						<div class="form-group">
							<label for="full_description">Chi tiết công việc :</label> <input type="text"
								class="form-control" id="full_description" name="full_description"
								th:field="*{full_description}" required>
						</div>
						<div class="form-group">
							<label for="job_nature">Tính chất công việc :</label> <input type="text"
								class="form-control" id="jobnature" name="jobnature"
								th:field="*{jobnature}" required>
						</div>
						<div class="form-group">
							<label for="salary">Lương :</label> <input type="text" class="form-control" id="salary"
								name="salary" th:field="*{salary}" required>
						</div>

						<div class="form-group">
							<label for="status">Trạng thái:</label>
							<select class="form-control" id="status" name="status" th:field="*{status}">
								<option value="true">Còn tuyển</option>
								<option value="false">Hết tuyển</option>
							</select>
						</div>

						<div class="form-group d-none">
							<label for="title">company_id</label> <input type="text" class="form-control" id="company_id"
								name="company_id" th:value="${company_id}" required>
						</div>
						<button type="submit" class="btn btn-primary"
							th:text="*{isEdit? 'Chỉnh sửa' : 'Thêm'}"></button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>

</html>