<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{company/layout-company-manager.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<section layout:fragment="content">
		<th:block th:if="${session.msg}">
			<div class="alert alert-primary" role="alert">[[${session.msg}]]</div>
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</th:block>
	</section>
</body>

</html>