<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{company/layout-company-manager.html}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Internship</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="col mt-4">
			<div class="card-header" style="font-size: 25px; font-weight: bold;">Danh sách các thông tin tuyển dụng
				<a href="/admin/internship/add"><i class="fa fa-plus" style="font-size: 35px;float: right;"></i></a>
			</div>


			<div>
				<div th:if="${message != null}" class="alert alert-primary" role="alert">
					<i th:text="${message}"></i>
				</div>
			</div>
			<div class="row mt-2 mb-2">
				<div class="col-md-6">
					<form action="/admin/internship/search">
						<div class="input-group">
							
							<select class="form-control ml-2" name="status" id="status">
								<option value="">Tình trạng</option>
								<option value="true">Còn tuyển</option>
								<option value="false">Hết tuyển</option>
							</select>
							<button class="btn btn-outline-primary ml-2">Search</button>
						</div>
					</form>
				</div>
			</div>

			<table class=" table table-striped " id="form-company">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Chi tiết công việc</th>
						<th>Tính chất công việc</th>
						<th>Lương</th>
						<th>Trạng thái</th>
						<th style="min-width: 150px;">Tiêu đề</th>
						<th style="min-width: 86px;">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="internship : ${internships}">
						<td th:text="${internship.internship_id}"></td>
						<td th:text="${internship.full_description}"></td>
						<td th:text="${internship.jobnature}"></td>
						<td th:text="${internship.salary}"></td>
						<td th:text="${internship.status}? 'Còn tuyển' : 'Hết tuyển'"></td>
						<td th:text="${internship.title}"></td>
						<td>
							<a th:href="@{'/admin/internship/edit/' + ${internship.internship_id}}">
								<i class='fas fa-edit' style='font-size:24px'></i>
							</a>
							<a>
								<i class="fa-regular fa-trash-can " style='font-size:24px; margin-left:12px'
									th:data-id="${internship.internship_id}"
									onclick="showconfirmation(this.getAttribute('data-id'))"></i>
							</a>

						</td>
						</td>
					</tr>
				</tbody>
			</table>
			<script type="text/javascript">
				function showconfirmation(id) {
					$('#yesOption').click(function () {
						window.location.href = '/admin/internship/delete/' + id;
					}); $('#confirmationId').modal('show');

				}
			</script>
			<div class="modal" id="confirmationId" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
								onclick="window.location.href='/company/listjob'"></button>
						</div>
						<div class="modal-body">
							Bạn có muốn xoá?
						</div>
						<div class="modal-footer">
							<button id="yesOption" type="button" class="btn btn-primary">Yes</button>


							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
								onclick="window.location.href='/company/listjob'">No</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>