<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">

<head>
	<title>Application</title>
	<script th:inline="javascript">
		function showConfirm() {
			var confirmation = confirm("Bạn có muốn thực hiện hành động này không?");
			return confirmation;
		}
		function validateForm() {
			var formInputs = document.querySelectorAll('input, select, textarea');
			var isValid = true;

			formInputs.forEach(function (input) {
				if (input.required && !input.value.trim()) {
					input.classList.add('is-invalid'); // Thêm class để hiển thị border đỏ hoặc thông báo lỗi
					isValid = false;
				} else {
					input.classList.remove('is-invalid');
				}
			});

			if (!isValid) {
				alert('Vui lòng điền đầy đủ thông tin');
			}

			return isValid; // Ngăn form submit nếu có lỗi
		}
	</script>
</head>

<body>
	<section layout:fragment="content">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<form th:action="@{/admin/application/saveOrUpdate}" method="post">
						<h1 th:text="${app.isEdit ? 'Chỉnh sửa thông tin ' : 'Thêm mới thông tin'}">
						</h1>
						<div class="form-group d-none">
							<label for="application_id">id :</label> <input readonly type="text" class="form-control"
								id="application_id" name="application_id" th:value="${app.application_id}">
						</div>


						<div class="form-group">
							<label for="status">Trạng thái:</label>
							<select class="form-control" id="status" name="status">																				
								<option value="true" th:selected="${app.status == true}">Đã duyệt</option>
								<option value="false" th:selected="${app.status == false}">Chưa duyệt
								</option>
							</select>
						</div>

						<div class="form-group">
							<label for="internship_id">Internship ID:</label> <input type="text" class="form-control"
								id="internship_id" name="internship_id" th:value="${app.internship_id}" required>
						</div>
						<div class="form-group">
							<label for="student_id">Student ID:</label> <input type="text" class="form-control"
								id="student_id" name="student_id" th:value="${app.student_id}" required>
						</div>

						<a th:href="${app.isEdit} ? @{/admin/application/add} : @{/admin/application/add}">
							<button type="button" class="btn btn-primary" onclick="return showConfirm()">
								<span th:text="${app.isEdit} ? 'Thêm mới' : 'Reset'"></span>
							</button>
						</a>
						<button type="submit" class="btn btn-primary" onclick="return showConfirm()"
							th:text="${app.isEdit ? 'Chỉnh sửa' : 'Thêm'}"></button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>