<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">

<head>
	<title>Company</title>
	<script type="text/javascript">
		function showconfirmation(id, name) {
			$('#company_name').text(name);

			$('#yesOption').click(function () {
				window.location.href = '/admin/company/delete/' + id;
			}); $('#confirmationId').modal('show');

		}
	</script>
</head>

<body>
	<section layout:fragment="content">
		<div class="col mt-4">
			<div class="card-header" style="font-size: 25px; font-weight: bold;">Danh sách các công ty
				<a href="/admin/company/add"><i class="fa fa-plus" style="font-size: 35px;float: right;"></i></a>

			</div>


			<div>
				<div th:if="${message != null}" class="alert alert-primary" role="alert">
					<i th:text="${message}"></i>
				</div>
			</div>

			<div class=row mt-2 mb-2>
				<div class="col-md-6">
					<form action="/admin/company/searchpage">
						<div class="input-group">
							<input type="text" class="form-control ml-2" name="name" id="name"
								placeholder="Nhập để tìm kiếm" />
							<button class="btn btn-outline-primary ml-2">Search</button>
						</div>
					</form>
				</div>
			</div>

			<div th:if="${!companyPage.hasContent()}">
				<div class="row">
					<div class="col">
						<div class="alert alert-primary">
							Khong tim thay
						</div>
					</div>
				</div>
			</div>
			<div th:if="${companyPage.hasContent()}">
				<table class=" table table-striped " id="form-company">
					<thead class="thead-inverse">
						<tr>
							<th>CompanyID</th>
							<th>Avata</th>
							<th>Tên công ty</th>
							<th>Ngành</th>
							<th>UserID</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="company : ${companyPage.content}">
							<td th:text="${company.company_id}"></td>
							<td><img th:src="${company.avatar != null ? '/admin/company/images/' + company.avatar : '/assets-admin/img/undraw_profile.svg'}"
									width="50" class="img-fluid" alt=""></td>
							<td th:text="${company.company_name}"></td>
							<td th:text="${company.industry}"></td>
							<td th:text="${userNames[company.user_id]}"></td>
							<td>
								<a th:href="@{'/admin/company/edit/' + ${company.company_id}}">
									<i class='fas fa-edit' style='font-size:24px'></i>
								</a>
								<a>

									<i class="fa-regular fa-trash-can " style='font-size:24px; margin-left:12px'
										th:data-id="${company.company_id}" th:data-name="${company.company_name}"
										onclick="showconfirmation(this.getAttribute('data-id'), this.getAttribute('data-name'))"></i>
								</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal" id="confirmationId" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
								onclick="window.location.href='/admin/company'"></button>
						</div>
						<div class="modal-body">
							Bạn có muốn xoá"<span id="company_name"></span>"?
						</div>
						<div class="modal-footer">
							<button id="yesOption" type="button" class="btn btn-primary">Yes</button>


							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
								onclick="window.location.href='/admin/company'">No</button>

						</div>
					</div>
				</div>
			</div>

			<!-- phan trang -->
			<div class="row">
				<div class="col-5">
					<form action="">
						<div class="mb-3 input-group float-left">
							<label for="size" class="mr-2">Page size :</label>
							<select class="form-select ml-2" name="size" aria-label="size" id="size"
								onchange="this.form.submit()">
								<option ${companyPage.size==3 ? 'selected' :''} value="3">Chọn</option>
								<option ${companyPage.size==3 ? 'selected' :''} value="3">3</option>
								<option ${companyPage.size==5?'selected':''} value="5">5</option>
								<option ${companyPage.size==10?'selected':''} value="10">10</option>

							</select>
						</div>
					</form>



				</div>
				<div class-"col-7">
					<div th:if="${companyPage.totalPages >0}">
						<nav aria-label="Page navigation">
							<ul class="pagination">

								<li th:class="${companyPage.number + 1 == 1 ? 'page-item active' : 'page-item'}">
									<a class="page-link"
										th:href="@{/admin/company/searchpage(name=${company_name}, size=${companyPage.size}, page=1)}">First</a>
								</li>

								<div th:each="pageNumber :${pageNumbers}">
									<div th:if="${companyPage.totalPages>1}">
										<li
											th:class="${pageNumber == companyPage.number + 1 ? 'page-item active' : 'page-item'}">
											<a class="page-link"
												th:href="@{/admin/company/searchpage(name=${company_name}, size=${companyPage.size}, page=${pageNumber})}">
												<span th:text="${pageNumber}"></span>
											</a>
										</li>


									</div>
								</div>


								<li
									th:class="${companyPage.totalPages == companyPage.number + 1 ? 'page-item active' : 'page-item'}">
									<a class="page-link"
										th:href="@{/admin/company/searchpage(name=${company_name}, size=${companyPage.size}, page=${companyPage.totalPages})}">Last</a>
								</li>

							</ul>
						</nav>
					</div>

				</div>
			</div>




			<!--ket thuc phan trang-->
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>

</html>